{% extends "base.html" %}
{% load i18n sekizai_tags static %}

{% block dukop_title %}{% trans "Create event" %}{% endblock %}

{% block content %}

<div class="create-event">
  {% if forms_had_errors %}
  <div class="message message__error">
    {% trans "There were errors. Please check below. If you submitted images, you have to re-select them." %}
  </div>
  {% endif %}
  <h1 class="card__title">{% trans "Create event" %}</h1>
  <p>
    <strong>{% trans "Creating your first event?" %}</strong>
    {% trans "Please read our" %} <a href="{% url "news:about" %}#guidelines">{% trans "Guidelines" %}</a>.
  </p>
  <p>
      {% trans "Getting all the details right for you event can take some time. Spend time to ensure that it looks nice. This form contains the following sections:" %}
  </p>

  <ol>
    <li>{% trans "Basic details" %}</li>
    <li>{% trans "Dates and times" %}</li>
    <li>{% trans "Images" %}</li>
    <li>{% trans "Links" %}</li>
  </ol>

  <p>
      {% trans "After creating the event, it's possible to edit it. You can also create an event and publish it later." %}
  </p>

  {% include "calendar/includes/event_form.html" %}


</div>


{% addtoblock "js" %}
    <script type="text/javascript" src="{% url "calendar:javascript-catalog" %}"></script>
    <script type="text/javascript" src="{% static 'calendar/js/create_event.js' %}"></script>
{% endaddtoblock %}

{% endblock %}
