{% extends "base.html" %}
{% load i18n sekizai_tags static %}

{% block dukop_title %}{% trans "Create event" %}{% endblock %}

{% block content %}

<div class="create-event">
  {% if forms_had_errors %}
  <div class="message message__error">
    {% trans "There were errors. Please check below. If you submited images, you have to re-select them." %}
  </div>
  {% endif %}
  <h1 class="card__title">{% trans "Create event" %}</h1>
  <p>
    <strong>{% trans "Creating your first event?" %}</strong>
    {% trans "Please read our" %} <a href="{% url "news:about" %}#guidelines">{% trans "Guidelines" %}</a>.
  </p>
  <p>
      {% trans "Getting all the details right for you event can take some time. Spend time to ensure that it looks nice. This form contains the following sections:" %}
  </p>

  <ol>
    <li>{% trans "Basic details" %}</li>
    <li>{% trans "Dates and times" %}</li>
    <li>{% trans "Images" %}</li>
    <li>{% trans "Links" %}</li>
  </ol>

  <p>
      {% trans "After creating the event, it's possible to edit it. You can also create an event and publish it later." %}
  </p>

    <form action="" method="POST" class="event__form" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>{% trans "Basic details" %}</h2>
      <table>

        {% for field in form %}
        <tr class="{{ field.name }}">
          <th>
            {{ field.label_tag}}
          </th>
          <td>
            {{ field }}
            {% if field.help_text %}{{ field.help_text }}{% endif %}
          </td>
        </tr>
        {% endfor %}

      </table>
      <h2>{% trans "Date and times" %}</h2>
      <p>
        {% trans "Most events just had a single start and finish time. But if your event spans several days, you can add additional start and finish times." %}
        {% trans "If this event recurs on a regular basis, you can indicate this further down this page." %}
      </p>
      {{ times.management_form }}
      {% if times.non_form_errors %}
      <div class="message message__error">
        {{ times.non_form_errors }}
      </div>
      {% endif %}
      <table>
        {% for time in times %}
        <tr class="formset--element {% if not time.errors and not forloop.first %}hide{% endif %}">
          <th>{% trans "Time slot" %} {{ forloop.counter }}:</th>
          <td>
            <div>
                <div>
                    {{ time.start.label_tag }} *Required<br>
                    {{ time.start }}
                </div>
                {% if time.start.errors %}
                    {{ time.start.errors }}
                {% endif %}
                <div>
                    {{ time.end.label_tag }}<br>
                    {{ time.end }}
                </div>
                {% if time.end.errors %}
                    {{ time.end.errors }}
                {% endif %}
                {% if not forloop.last %}
                <button type="button" class="formset-add-link">
                    {% trans "Add timeslot" %}
                </button>
                {% endif %}
                {% if not forloop.first %}
                <button type="button" class="formset-remove-link">
                    {% trans "Remove timeslot" %}
                </button>
                {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}

      </table>

      <h2>{% trans "Automatic recurrence" %}</h2>
      <p>
        {% trans "If you want your event to recur automatically with an interval, you can set it here instead of adding individual timeslots manually." %}
      </p>
      {{ recurrences.management_form }}
      <table>
        {% for recurrence in recurrences %}
        <tr class="formset--element {% if not recurrence.errors and not forloop.first %}hide{% endif %}">
          <th>{% trans "Interval" %} {{ forloop.counter }}:</th>
          <td>
            <div>
                <div>
                {{ recurrence.interval_type.label_tag }}<br>
                {{ recurrence.interval_type }}
                </div>
                {% if recurrence.interval_type.errors %}
                    {{ recurrence.interval_type.errors }}
                {% endif %}

                <div>
                {{ recurrence.end.label_tag }}<br>
                {{ recurrence.end }}
                </div>
                {% if recurrence.end.errors %}
                    {{ recurrence.end.errors }}
                {% endif %}

                {% if not forloop.last %}
                <button type="button" class="formset-add-link">
                    {% trans "Add recurrence" %}
                </button>
                {% endif %}
                {% if not forloop.first %}
                <button type="button" class="formset-remove-link">
                    {% trans "Remove recurrence" %}
                </button>
                {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}

      </table>
      <h2>{% trans "Images" %}</h2>
      <p>
        {% trans "We really recommend that you add an illustration. Don't let your Facebook event look better than your Duk Op event!" %}
      </p>
      {{ images.management_form }}
      <table>
        {% for image in images %}
        <tr class="formset--element {% if not image.errors and not forloop.first %}hide{% endif %}">
          <th>{% trans "Image" %} {{ forloop.counter }}:</th>
          <td>
            <div>
                <div>
                    {{ image.image }}
                </div>
                {% if image.image.errors %}
                    {{ image.image.errors }}
                {% endif %}
                <div>
                    {{ image.is_cover.label_tag }}
                    {{ image.is_cover }}
                </div>
                {% if not forloop.last %}
                <button type="button" class="formset-add-link">
                    {% trans "Add image" %}
                </button>
                {% endif %}
                {% if not forloop.first %}
                <button type="button" class="formset-remove-link">
                    {% trans "Remove image" %}
                </button>
                {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}

      </table>

      <h2>{% trans "Links" %}</h2>
      <p>
        {% trans "We really recommend that you add an illustration. Don't let your Facebook event look better than your Duk Op event!" %}
      </p>
      {{ links.management_form }}
      <table>
        {% for link in links %}
        <tr class="formset--element {% if not link.errors and not forloop.first %}hide{% endif %}">
          <th>{% trans "Link" %} {{ forloop.counter }}:</th>
          <td>
            <div>
                <div>{{ link.link }}</div>
                {% if not forloop.last %}
                <button type="button" class="formset-add-link">
                    {% trans "Add link" %}
                </button>
                {% endif %}
                {% if not forloop.first %}
                <button type="button" class="formset-remove-link">
                    {% trans "Remove link" %}
                </button>
                {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}

      </table>

      <hr>
      <table>
        <tr>
          <th><br></th>
          <td>
              <button type="submit" class="button-big">{% trans "Create" %}</button>
          </td>
        </tr>
      </table>


    </form>
</div>


{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'calendar/js/create_event.js' %}"></script>
{% endaddtoblock %}

{% endblock %}
