{% extends "base.html" %}
{% load i18n sekizai_tags static %}

{% block dukop_title %}{% trans "Update event" %} - {{ event.name }}{% endblock %}

{% block content %}

<div class="create-event">
  {% if forms_had_errors %}
  <div class="message message__error">
    {% trans "There were errors. Please check below. If you submitted images, you have to re-select them." %}
  </div>
  {% endif %}
  <h1 class="card__title">{% trans "Update:" %} {{ event.name }}</h1>

  <p>{% trans "On this page, you can update everything about your event. Even the date. Or cancel it." %}</p>

  {% include "calendar/includes/event_form.html" %}

</div>


{% addtoblock "js" %}
    <script type="text/javascript" src="{% url "calendar:javascript-catalog" %}"></script>
    <script type="text/javascript" src="{% static 'calendar/js/create_event.js' %}"></script>
{% endaddtoblock %}

{% endblock %}
