{% load i18n static compress sekizai_tags news_tags calendar_tags %}<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>{% block dukop_title %}{% endblock %} (Duk Op)</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0,initial-scale=1.0" />
    <!-- Shortcut icons (favicon) -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">

    <meta property="og:url" content="https://www.dukop.dk/">
    <meta property="og:title" content="Duk dig ikke - Duk Op!">
    <meta property="og:description" content="DukOp er vores fælles guide til, hvad der sker i København og omegn, hvad enten du leder efter demonstrationer, koncerter, fester, møder, folkekøkkener, havedage, workshops, kunst- og filmfremvisninger, mv..">
    <meta property="og:image" content="{% static 'img/social_media.jpg' %}">
    <meta property="og:site_name" content="Duk Op">
    <meta property="og:locale" content="da_DK">

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/application.scss' %}">
    {% endcompress %}
    <link rel="alternate" type="application/rss+xml" title="Upcoming 30 events on DukOp" href="{% feed_link 'calendar:feed_rss' %}" />

</head>
<body>
<div class="lock-body" id="js-lock-body">

    <header>
        <div class="page-container">
            <div class="header-wrapper">
                <nav id="language" class="language">
                    <a href="/en/" hreflang="en"><abbr lang="en" title="English">en</abbr></a>
                    <a href="/da/" hreflang="da"><abbr lang="da" title="Dansk">da</abbr></a>
                </nav>
                <nav class="header">
                    <div class="header__logo">
                        <a href="{% url "calendar:index" %}">
                            <img src="{% static 'img/moon_logo.png' %}" alt="Moon logo" />

                        </a>
                    </div>
                    <div class="header__filler"></div>
                    {% if user.is_authenticated %}
                      <a class="header__link" href="{% url "calendar:event_create" %}">{% trans "Create event" %}</a>
                      <a class="header__link" href="{% url "users:logout" %}">{% trans "Log out" %}</a>
                    {% else %}
                      <a class="header__link" href="{% url "calendar:event_create" %}">{% trans "Create event" %}</a>
                      <a class="header__link" href="{% url "users:login" %}">{% trans "Log in" %}</a>
                    {% endif %}
                    <div class="header__burger js-toggle" data-element="js-controls">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </nav>

            </div>
        </div>
    </header>

{% block content_wrapper %}

<div class="card card--static">
  <div class="card__text">
    {% block content %}

    {% endblock %}
  </div>
</div>


{% endblock %}

    <footer>
        <div class="page-container">
            <div class="footer">
                <div class="footer__content">
                    <div class="footer__about">
                        <h2 class="title title--footer">{% trans "About us" %}</h2>
                        <p>{% trans "Duk Op is your guide to what happens in and around Copenhagen, whether you are looking for demonstrations, concerts, parties, meetings, soup kitchens, gardening days, workshops, art exhibitions, film screenings and much more." %}</p>
                        <p>
                            <a href="{% url "news:about" %}">{% trans "Read more" %}</a><br>
                            <a href="{% url "news:about" %}#contact">{% trans "Contact us" %}</a>
                        </p>
                        <h2 class="title title--footer">{% trans "Activate sphere" %}</h2>
                        <p>{% trans "Duk Op is available in the followin mixes or spheres. By changing the active sphere, you'll get a different view of the site:" %}</p>
                        <p>
                        {% for sphere in SPHERES %}
                        <a href="{% url "calendar:sphere_change" pk=sphere.pk %}" class="{% if sphere.pk == SPHERE.id %} sphere-link-chosen{% endif %}">{{ sphere.name }}</a><br>
                        {% endfor %}
                        </p>

                    </div>
                    <div class="footer__news">
                        <h2 class="title title--footer">{% trans "Feed subscription" %}</h2>
                        <p>
                        {% trans "Copy into your calendar (iCAL/ICS)" %}:<br>
                        <input type="text" value="{% feed_link 'calendar:feed_ical' %}" class="share-text-input feed-link-input">
                        </p>
                        <h2 class="title title--footer">{% trans "Latest news" %}</h2>
                        {% get_short_news as latest_news %}
                        {% for story in latest_news %}
                        <div class="news">
                                <a href="{{ story.url_read_more }}" class="news__link">
                                <div class="news__date">
                                    {{ story.created|date }}
                                </div>
                                <div class="news__title">
                                    {{ story.short_story|truncatewords:20 }}
                                </div>
                            </a>
                        </div>
                        {% empty %}
                        <div class="news">
                            <p>{% trans "No news is good news?" %}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% render_block "js" %}
</body>
</html>
