{% load dukop_utils %}

{% if field.is_hidden %}
  {{ field }}
{% else %}

<div id="fieldset_{{ field.auto_id }}" class="form-group row{% if field.errors %} has-danger{% endif %}">

<div class="col-md-4">
  {% if field.label %}
    <label for="{{ field.id_for_label }}" class="form-control-label">
    {{ field.label|safe }}
    </label>
  {% endif %}
</div>

  <div class="col-md-8">

    {% if field.errors %}
      {{ field|dukop_render_field:'form-control-danger' }}
    {% else %}
      {{ field|dukop_render_field:'' }}
    {% endif %}

    {% if field.field.required %}
      *
    {% endif %}

    {% if field.errors %}
      {% for error in field.errors %}
        <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger">
          {{ error }}
        </p>
      {% endfor %}
    {% endif %}

    {% if field.help_text %}
      <p class="text-muted">{{ field.help_text|safe }}</p>
    {% endif %}

  </div>

</div>
{% endif %}
