.collapsible-bar {
    border: 2px solid #3C8E8C;
    border-radius: 5px;
    margin: 10px 0;
    .collapsible-title
    {
        font-weight: bold;
        display: block;
        color: #fff;
        background-color: #3C8E8C;
        padding: 10px;
        .success {
            color: #FFFD82;
        }
    }
    .collapsible-content {
        display: none;
        padding: 10px;
        p:last-child {
            margin-bottom: 0;
        }
    }
    > input[type=checkbox],
    > input[type=radio]
    {
        display: none;
    }
    > input[type=checkbox]:checked ~ .collapsible-content,
    > input[type=radio]:checked ~ .collapsible-content
    {
        display: block;
    }
}

.collapsible-bar-show-input
{
    > input[type=checkbox],
    > input[type=radio]
    {
        display: inline-block;
        float: left;
        margin: 14px 10px;
    }
    > input[type=checkbox]:checked ~ .collapsible-content,
    > input[type=radio]:checked ~ .collapsible-content
    {
        display: block;
    }
}
