

.create-event {
  &__file {
    cursor: pointer;
    display: inline-block;
    background-color: #42767F;
    color: #fff;
    border-radius: 3px;
    padding: 3px 10px;
    font-style: italic;
    font-weight: 100;
  }
  &__info {
    color: #aaa;
    font-size: 80%;
    margin-bottom: 10px;
  }
  &__input {
    font-size: 1em;
    padding: 10px 10px;
    width: 100%;
    border: 1px solid #ddd;
  }
  table
  {
      width: 100%;
  }
  th {
    vertical-align: top;
    text-align: right;
    padding: 18px 10px;
    opacity: .5;
    width: 20%;
  }
  td {
    padding: 5px 0;
  }
  input:not([type=checkbox]):not([type=radio]), select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    max-width: 300px;
  }
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
  }
  input#id_name {
    max-width: none;
  }
    .formset--element
    {
        input {
            width: auto;
            max-width: none;
            display: inline-block;
        }
        select {
            width: auto;
            max-width: none;
            display: inline-block;
        }

    }
}

.spheres {
    ul {list-style: none; padding: 0}
}
