.header-wrapper {
  .language {
    text-align: right;
    margin-top: 5px;
    position: relative;
    z-index: 20;
    margin-bottom: -20px;
    a,
    a:active,
    a:visited {
      display: inline-block;
      background-color: #222;
      color: #fff;
      padding: 4px 15px;
      border-radius: 5px;
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
.header {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    flex: 0 0 264px;
    img {
      display: block;
      margin: 0 auto;
      max-width: 264px;
    }
  }
  &__menu {
    text-align: center;
    margin-right: -10px;
  }
  &__link {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    background-color: #222;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
  }
  &__link__small {
    padding: 5px 10px;
    font-size: 80%;
    vertical-align: bottom;
    background-color: #3C8E8C;
  }
  &__controls {
    display: none;
    font-style: italic;
    font-weight: 100;
    flex: 1;
    flex-basis: 400px;
  }
  &__controls.js-active {
    display: block;
    background-color: #aaa;
    padding: 20px 20px 20px 0;
  }

  &__link img {
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
