{% load i18n thumbnail %}

<form action="" method="POST" class="event__form" enctype="multipart/form-data">
    {% csrf_token %}

    <table>

      {% for field in form %}
      <tr class="{{ field.name }}">
        <th>
          {{ field.label_tag}}
        </th>
        <td>
          {{ field }}
          {% if field.help_text %}{{ field.help_text }}{% endif %}
          {% if field.errors %}
              {{ field.errors }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </table>

    <h2>{% trans "Date and times" %}</h2>
    <p>
      {% trans "Most events just had a single start and finish time. But if your event spans several days, you can add additional start and finish times." %}
      {% trans "If this event recurs on a regular basis, you can indicate this further down this page." %}
    </p>

    {{ times.management_form }}

    {% if times.non_form_errors %}
      {{ times.non_form_errors }}
    {% endif %}

    <div>
    {% for time in times %}
    <div class="formset--element {% if not time.errors and not forloop.first %}hide{% endif %}">
    {{ time.id }}
        <table>

            {% include "calendar/includes/event_form_render_field_tr.html" with field=time.start %}
            {% include "calendar/includes/event_form_render_field_tr.html" with field=time.end %}

            {% if time.instance.pk %}
                {% include "calendar/includes/event_form_render_field_tr.html" with field=time.DELETE %}
            {% endif %}

        </table>

        <div class="formset-add-remove-buttons">
            {% if not forloop.last %}
            <button type="button" class="formset-add-link">
              {% trans "Add one more..." %}
            </button>
            {% endif %}
            {% if not forloop.first %}
            <button type="button" class="formset-remove-link">
              {% trans "Have one less..." %}
            </button>
            {% endif %}
        </div>

    </div>

    {% endfor %}
    </div>

    <h2>{% trans "Repeat event" %}</h2>
    <p>
      {% trans "If you want your event to recur automatically with an interval, you can set it here instead of adding individual timeslots manually." %}
    </p>
    {{ recurrences.management_form }}

    {% if recurrences.non_form_errors %}
      {{ recurrences.non_form_errors }}
    {% endif %}

    <div>
    {% for recurrence in recurrences %}
    <div class="formset--element {% if not recurrence.errors and not forloop.first %}hide{% endif %}">
    {{ recurrence.id }}
    <table>
      {% include "calendar/includes/event_form_render_field_tr.html" with field=recurrence.interval_type %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=recurrence.end %}
      {% if recurrence.instance.pk %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=recurrence.DELETE %}
      {% endif %}
    </table>

    <div class="formset-add-remove-buttons">
        {% if not forloop.last %}
        <button type="button" class="formset-add-link">
          {% trans "Add one more..." %}
        </button>
        {% endif %}
        {% if not forloop.first %}
        <button type="button" class="formset-remove-link">
          {% trans "Have one less..." %}
        </button>
        {% endif %}
    </div>

    </div>
    {% endfor %}
    </div>

    <h2>{% trans "Repetitions" %}</h2>
    <p>
      {% trans "You can change individual repetitions. This will remove them from the automatically-handled series." %}
    </p>
    {{ recurrences_times.management_form }}

    {% if recurrences_times.non_form_errors %}
      {{ recurrences_times.non_form_errors }}
    {% endif %}

    <div>
    {% for event_time in recurrences_times %}
    <div class="formset--element">
    {{ event_time.id }}
    <table>
      {% include "calendar/includes/event_form_render_field_tr.html" with field=event_time.start %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=event_time.end %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=event_time.is_cancelled %}
    </table>

    </div>
    {% endfor %}
    </div>


    <h2>{% trans "Images" %}</h2>
    <p>
      {% trans "We really recommend that you add an illustration. Don't let your Facebook event look better than your Duk Op event!" %}
    </p>

    {{ images.management_form }}

    {% if images.non_form_errors %}
      {{ images.non_form_errors }}
    {% endif %}

    <div>
    {% for image in images %}
    <div class="formset--element {% if not image.errors and not forloop.first %}hide{% endif %}">
    {{ image.id }}
    <table>
      {% include "calendar/includes/event_form_render_field_tr.html" with field=image.image %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=image.is_cover %}
      {% if image.instance.pk %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=image.DELETE %}
      {% endif %}

    </table>

    <div class="formset-add-remove-buttons">
        {% if not forloop.last %}
        <button type="button" class="formset-add-link">
          {% trans "Add one more..." %}
        </button>
        {% endif %}
        {% if not forloop.first %}
        <button type="button" class="formset-remove-link">
          {% trans "Have one less..." %}
        </button>
        {% endif %}
    </div>

    </div>
    {% endfor %}
    </div>


    <h2>{% trans "Links" %}</h2>
    <p>
      {% trans "We really recommend that you add an illustration. Don't let your Facebook event look better than your Duk Op event!" %}
    </p>
    {{ links.management_form }}
    {% if links.non_form_errors %}
      {{ links.non_form_errors }}
    {% endif %}

    <div>
    {% for link in links %}
    <div class="formset--element {% if not link.errors and not forloop.first %}hide{% endif %}">
    {{ link.id }}
    <table>

      {% include "calendar/includes/event_form_render_field_tr.html" with field=link.link %}
      {% if link.instance.pk %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=link.DELETE %}
      {% endif %}

    </table>

    <div class="formset-add-remove-buttons">
        {% if not forloop.last %}
        <button type="button" class="formset-add-link">
          {% trans "Add one more..." %}
        </button>
        {% endif %}
        {% if not forloop.first %}
        <button type="button" class="formset-remove-link">
          {% trans "Have one less..." %}
        </button>
        {% endif %}
    </div>

    </div>
    {% endfor %}
    </div>

    <hr>
    <table>
      <tr>
        <th><br></th>
        <td>
            <button type="submit" class="button-big">{% trans "Save changes" %}</button>
        </td>
      </tr>
    </table>


</form>
