{% load i18n thumbnail calendar_tags %}

<form action="" method="POST" class="event__form" enctype="multipart/form-data">
    {% csrf_token %}

    <table>

      {% include "calendar/includes/event_form_render_field_tr.html" with field=form.name %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=form.description %}

      {% include "calendar/includes/event_form_render_field_tr.html" with field=form.spheres %}

      {% include "calendar/includes/event_form_render_field_tr.html" with field=form.online %}

    </table>

    {% if form.host_choice %}

    <h2>{% trans "Host" %}</h2>

    <div>

    <div class="collapsible-bar collapsible-bar-show-input">
      <input type="radio" value="{{ form.host_choice.field.choices.0.0 }}" name="{{ form.host_choice.html_name }}" id="id_{{ form.host_choice.html_name }}_0"{% if form.host_choice.value == form.host_choice.field.choices.0.0 %} checked="true"{% endif %}>
      <label class="collapsible-title" for="id_{{ form.host_choice.html_name }}_0">
          {% trans "Existing group" %}
      </label>
      <div class="collapsible-content">
      <table>
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.host %}
      </table>
      </div>
    </div>

    <div class="collapsible-bar collapsible-bar-show-input">
      <input type="radio" value="{{ form.host_choice.field.choices.1.0 }}" name="{{ form.host_choice.html_name }}" id="id_{{ form.host_choice.html_name }}_1"{% if form.host_choice.value == form.host_choice.field.choices.1.0 %} checked="true"{% endif %}>
      <label class="collapsible-title" for="id_{{ form.host_choice.html_name }}_1">
          {% trans "New group" %}
      </label>
      <div class="collapsible-content">
      <table>
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.new_host %}
      </table>
      </div>
    </div>

    </div>

    {% endif %}

    <h2>{% trans "Location" %}</h2>

    <div>

    <div class="collapsible-bar collapsible-bar-show-input">
      <input type="radio" value="{{ form.location_choice.field.choices.0.0 }}" name="{{ form.location_choice.html_name }}" id="id_{{ form.location_choice.html_name }}_0"{% if form.location_choice.value == form.location_choice.field.choices.0.0 %} checked="true"{% endif %}>
      <label class="collapsible-title" for="id_{{ form.location_choice.html_name }}_0">
          {% trans "Existing location" %}
      </label>
      <div class="collapsible-content">
      <table>
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.location %}
      </table>
      </div>
    </div>

    <div class="collapsible-bar collapsible-bar-show-input">
      <input type="radio" value="{{ form.location_choice.field.choices.1.0 }}" name="{{ form.location_choice.html_name }}" id="id_{{ form.location_choice.html_name }}_1"{% if form.location_choice.value == form.location_choice.field.choices.1.0 %} checked="true"{% endif %}>
      <label class="collapsible-title" for="id_{{ form.location_choice.html_name }}_1">
          {% trans "New location" %}
      </label>
      <div class="collapsible-content">
      <table>
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.venue_name %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.street %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.zip_code %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.city %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=form.location_new %}
      </table>
      </div>
    </div>

    <div class="collapsible-bar collapsible-bar-show-input">
      <input type="radio" value="{{ form.location_choice.field.choices.2.0 }}" name="{{ form.location_choice.html_name }}" id="id_{{ form.location_choice.html_name }}_2"{% if form.location_choice.value == form.location_choice.field.choices.2.0 %} checked="true"{% endif %}>
      <label class="collapsible-title" for="id_{{ form.location_choice.html_name }}_2">
        {% trans "TBA (To Be Announced)" %}
      </label>
      <div class="collapsible-content">
        <p>{% trans "Your event will appear as TBA - you can edit the event later and add a location." %}</p>
      </div>
    </div>

    <div class="collapsible-bar collapsible-bar-show-input">
      <input type="radio" value="{{ form.location_choice.field.choices.3.0 }}" name="{{ form.location_choice.html_name }}" id="id_{{ form.location_choice.html_name }}_3"{% if form.location_choice.value == form.location_choice.field.choices.3.0 %} checked="true"{% endif %}>
      <label class="collapsible-title" for="id_{{ form.location_choice.html_name }}_3">
          {% trans "Online only / no location" %}
      </label>
      <div class="collapsible-content">
        <p>{% trans "You can write details about joining in the description and add links further down in the Links section." %}</p>
      </div>
    </div>

    </div>


    <h2>{% trans "Date and times" %}</h2>
    <p>
      {% trans "Most events just had a single start and finish time. But if your event spans several days, you can add additional start and finish times." %}
      {% trans "If this event recurs on a regular basis, you can indicate this further down this page." %}
    </p>

    {{ times.management_form }}

    {% if times.non_form_errors %}
      {{ times.non_form_errors }}
    {% endif %}

    <div>
    {% for time in times %}
    <div class="formset--element {% if not time.errors and not forloop.first %}hide{% endif %}">
    {{ time.id }}
        <table>

            {% include "calendar/includes/event_form_render_field_tr.html" with field=time.start %}
            {% include "calendar/includes/event_form_render_field_tr.html" with field=time.end %}

            {% if time.instance.pk %}
                {% include "calendar/includes/event_form_render_field_tr.html" with field=time.DELETE %}
            {% endif %}

        </table>

        <div class="formset-add-remove-buttons">
            {% if not forloop.last %}
            <button type="button" class="formset-add-link">
              {% trans "Add one more..." %}
            </button>
            {% endif %}
            {% if not forloop.first %}
            <button type="button" class="formset-remove-link">
              {% trans "Have one less..." %}
            </button>
            {% endif %}
        </div>

    </div>

    {% endfor %}
    </div>

    <h2>{% trans "Repeat event" %} {% with recurrences.get_queryset.count as repetitions %}{% if repetitions > 0 %}<span class="badge-counter">{{ repetitions }} {{ repetitions|pluralize:_("rule,rules") }}</span>{% endif %}{% endwith %}</h2>
    <p>
      {% trans "If you want your event to recur automatically with an interval, you can set it here instead of adding individual timeslots manually." %}
    </p>
    {{ recurrences.management_form }}

    {% if recurrences.non_form_errors %}
      {{ recurrences.non_form_errors }}
    {% endif %}

    <div>
    {% for recurrence in recurrences %}
    <div class="formset--element {% if not recurrence.errors and not forloop.first %}hide{% endif %}">
    {{ recurrence.id }}
    <table>
      {% include "calendar/includes/event_form_render_field_tr.html" with field=recurrence.interval_type %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=recurrence.end %}
      {% if recurrence.instance.pk %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=recurrence.DELETE %}
      {% endif %}
    </table>

    <div class="formset-add-remove-buttons">
        {% if not forloop.last %}
        <button type="button" class="formset-add-link">
          {% trans "Add one more..." %}
        </button>
        {% endif %}
        {% if not forloop.first %}
        <button type="button" class="formset-remove-link">
          {% trans "Have one less..." %}
        </button>
        {% endif %}
    </div>

    </div>
    {% endfor %}
    </div>

    {% if recurrences_times|length > 0 %}
    <h2>{% trans "Repetitions" %} <span class="badge-counter">{{ recurrences_times|length }}</span></h2>
    <p>
      {% trans "You can change individual repetitions. This will remove them from the automatically-handled series." %}
    </p>
    {{ recurrences_times.management_form }}

    {% if recurrences_times.non_form_errors %}
      {{ recurrences_times.non_form_errors }}
    {% endif %}

    {% for event_time in recurrences_times %}
    {{ event_time.id }}
    <div class="collapsible-bar">
    <input type="checkbox" id="blah{{ event_time.instance.pk }}">
    <label class="collapsible-title" for="blah{{ event_time.instance.pk }}">
        {{ event_time.instance.start|dukop_interval:event_time.instance.end }}
        {% if event_time.instance.recurrence_auto %}
            <em class="muted">auto-created</em>
        {% else %}
            <em class="success">manually modified</em>
        {% endif %}
    </label>
    <div class="collapsible-content">
    <table>
      {% include "calendar/includes/event_form_render_field_tr.html" with field=event_time.start %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=event_time.end %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=event_time.is_cancelled %}
    </table>
    </div>
    </div>

    {% endfor %}
    {% endif %}

    <h2>{% trans "Images" %}</h2>
    <p>
      {% trans "We really recommend that you add an illustration. Don't let your Facebook event look better than your Duk Op event!" %}
    </p>

    {{ images.management_form }}

    {% if images.non_form_errors %}
      {{ images.non_form_errors }}
    {% endif %}

    <div>
    {% for image in images %}
    <div class="formset--element {% if not image.errors and not forloop.first %}hide{% endif %}">
    {{ image.id }}
    <table>
      {% include "calendar/includes/event_form_render_field_tr.html" with field=image.image %}
      {% include "calendar/includes/event_form_render_field_tr.html" with field=image.is_cover %}
      {% if image.instance.pk %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=image.DELETE %}
      {% endif %}

    </table>

    <div class="formset-add-remove-buttons">
        {% if not forloop.last %}
        <button type="button" class="formset-add-link">
          {% trans "Add one more..." %}
        </button>
        {% endif %}
        {% if not forloop.first %}
        <button type="button" class="formset-remove-link">
          {% trans "Have one less..." %}
        </button>
        {% endif %}
    </div>

    </div>
    {% endfor %}
    </div>


    <h2>{% trans "Links" %}</h2>
    <p>
      {% trans "You can add links (URLs) to other pages, if for instance you have a website or a signup page." %}
    </p>
    {{ links.management_form }}
    {% if links.non_form_errors %}
      {{ links.non_form_errors }}
    {% endif %}

    <div>
    {% for link in links %}
    <div class="formset--element {% if not link.errors and not forloop.first %}hide{% endif %}">
    {{ link.id }}
    <table>

      {% include "calendar/includes/event_form_render_field_tr.html" with field=link.link %}
      {% if link.instance.pk %}
        {% include "calendar/includes/event_form_render_field_tr.html" with field=link.DELETE %}
      {% endif %}

    </table>

    <div class="formset-add-remove-buttons">
        {% if not forloop.last %}
        <button type="button" class="formset-add-link">
          {% trans "Add one more..." %}
        </button>
        {% endif %}
        {% if not forloop.first %}
        <button type="button" class="formset-remove-link">
          {% trans "Have one less..." %}
        </button>
        {% endif %}
    </div>

    </div>
    {% endfor %}
    </div>

    <hr>
    <table>
      <tr>
        <th><br></th>
        <td>
            <button type="submit" class="button-big">{% trans "Save changes" %}</button>
        </td>
      </tr>
    </table>


</form>
