{% load i18n sekizai_tags static %}
{% load calendar_tags sorl_thumbnail %}
{% load l10n %}

  <div class="card__layout {% if not event_truncate %} card__layout--full {% endif %}">
    <div class="card__media">
        {% if event_truncate %}
        {% with event.images.first as feature_image %}
            {% if feature_image.image %}
                {% thumbnail feature_image.image "400x250" crop="center" as event_thumbnail %}
                    <img src="{{ event_thumbnail.url }}" alt="{{ event.name }}">
                {% endthumbnail %}
            {% endif %}
        {% endwith %}
        {% else %}
            {% for image in event.images.all %}
                <a href="{{ image.image.url }}">
                {% thumbnail image.image "400" as event_thumbnail %}
                    <img src="{{ event_thumbnail.url }}" alt="{{ event.name }}">
                {% endthumbnail %}
                </a>
            {% endfor %}
        {% endif %}

        {% if not event_hide_share %}
        <div class="card__sharing">
            <h5>{% trans "Sharing" %}</h5>
            {% if not event_truncate %}
            <a href="">Download til kalender (ICS)</a>
          {% endif %}
            <p>
            <a href="{{ event.share_link }}">
                {% trans "Share link" %}
            </a><br>
            <input type="text" value="{{ event.share_link }}" class="share-text-input">
            <button class="js-copy">{% trans "Copy url to clipboard" %}</button>
            </p>
        </div>

        {% endif %}
    </div>

    <div class="card__text">
        <div class="card__header">
          <div class="card__date">
            {% with event_time|default:event.times.future.first as next_occurrence %}
                {% if next_occurrence.start %}
                    {{ next_occurrence.start|dukop_interval:next_occurrence.end }}
                {% else %}
                    {% with event.times.last as last_occurrence %}
                        {% if last_occurrence.start %}
                            {{ last_occurrence.start|dukop_interval:last_occurrence.end }}
                        {% else %}
                            <em class="muted">{% trans "No scheduled times" %}</em>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endwith %}
            <br>
            {% if event.recurrences %}
            {% for recurrence in event.recurrences.all %}
                <span class="muted">{% trans "Recurring" %} {{ recurrence.recurrence_name }}</span>
            {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
            {% endif %}
          </div>
          <div class="card__place card__link">
            {% if event.host %}
                <a href="{% url "calendar:group_detail" pk=event.host.pk %}">{{ event.host }}</a>
            {% else %}
                {{ event.venue_name|default:"No location" }}
            {% endif %}
          </div>
        </div>

        <h1 class="card__title">{{ event.name }}</h1>

        {% if not event_truncate %}
            {% if event.description %}
                {{ event.description|linebreaks }}
            {% else %}
                {{ event.short_description|linebreaks }}
            {% endif %}

            <h2>{% trans "Upcoming dates" %}</h2>

            <ul>
            {% for time in event.times.future|slice:10 %}
                {% if time.start %}
                <li>{{ time.start|dukop_interval:time.end }}</li>
                {% endif %}
            {% empty %}
                <li><em>{% trans "No upcoming times" %}</em>
            {% endfor %}
            </ul>

            <h2>{% trans "Location" %}</h2>

            {% if event.location %}
            <a href="{% url "calendar:location_detail" pk=event.location.pk %}">
            <strong>{{ event.location.name }}</strong><br>
            </a>
            {% else %}
            <strong>{{ event.venue_name }}</strong><br>
            {% endif %}
            {{ event.street }}<br>
            {{ event.zip_code }} {{ event.city }}

            {% if event.links.all %}
                <h2>{% trans "Event links" %}</h2>
                {% for link in event.links.all %}
                <p><a href="{{ link.link }}" target="_blank">{{ link.link|url_alias }}</a></p>
                {% endfor %}
            {% endif %}

        {% else %}
        <div class="card__more__cut">
            {{ event|event_description:100 }}
        </div>
        {% endif %}



        {% if show_user_panel and event|event_can_edit:request.user %}
            <ul class="button-menu">
                <li><a href="{% url "calendar:event_update" pk=event.pk %}" title="Edit" class="button">{% trans "Update" %} <div class="icon icon__tool"></div></a></li>
                <li><a href="" title="Cancel" class="button">{% trans "Cancel" %} <div class="icon icon__cancel"></div></a></li>
                <li><a href="" title="Delete" class="button">{% trans "Delete" %} <div class="icon icon__delete"></div></a></li>
            </ul>
        {% endif %}

    </div>

  </div>
