{% extends "base.html" %}
{% load calendar_tags sorl_thumbnail sekizai_tags static %}
{% load i18n %}
{% load l10n %}

{% block dukop_title %}{% trans "Start" %}{% endblock %}

{% block content_wrapper %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'calendar/js/calendar.js' %}"></script>
{% endaddtoblock %}

{% get_event_times from_date=future max_count=20 has_image=True days=14 sphere=SPHERE as event_times %}

<div class="page-container">
  <h1 class="title">
    {% trans "Events mixed for" %}
    {% for sphere in SPHERES %}
    <a href="{% url "calendar:sphere_change" pk=sphere.pk %}" class="sphere-link{% if sphere.pk == SPHERE.id %} sphere-link-chosen{% endif %}">{{ sphere.name }}</a>
    {% endfor %}

  </h1>
</div>

{% for event_time in event_times %}
<div class="card" data-hash="event-{{ event_time.event.pk }}" id="event-{{ event_time.event.pk }}">
  {% include "calendar/includes/event_card.html" with event=event_time.event event_hide_share=True event_truncate=100 %}
  <a class="card__toggle js-toggle-card" href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}"></a>
</div>

{% empty %}

<div class="page-container">
    <p><em>{% trans "No events found in this period." %}</em></p>
</div>

{% endfor %}

{% get_event_times from_date=today days=1 max_count=30 sphere=SPHERE as todays_events %}

<div class="page-container">
  <h1 class="title title--space">{% trans "Happening" %} <span class="title__bold">{% trans "today" %}</span></h1>
  <div class="timeline">

  {% for event_time in todays_events %}
    {% event_timeline_properties event_time as timeline %}
    <div class="timeline__event timeline__event--color{% cycle "1" "2" "3" %} timeline__event--right" data-text="{{ event_time.event.name }}"
      style="width: {{ timeline.width_pct|unlocalize }}%; margin-left: {{ timeline.x_start_pct|unlocalize }}%">
    </div>
  {% empty %}
    <div class="timeline__event timeline__event--right" data-text="{% trans "Nothing planned today, this is your chance to do something! Gather your people!" %}">
    </div>
  {% endfor %}

    <div class="timeline__scale">
      <div class="timeline__min">
        08:00
      </div>
      <div class="timeline__max">
        24:00
      </div>
      <div class="timeline__now" id="timeline__now"></div>
    </div>

  </div>

</div>


{% get_event_times days=31 sphere=SPHERE as event_times %}

<div class="page-container">
  <div class="table">

  {% for event_time in event_times %}

    <div class="table__day">
      {% ifchanged event_time.start.date %}
      <div class="table__header">
        {{ event_time.start.date|dukop_date }}
      </div>
      {% endifchanged %}

      <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}" class="table__event">
        <div class="table__time">
          {{ event_time.start|time:"H:i" }}
        </div>
        <div class="table__title">
          {{ event_time.event.name }}
        </div>
        <div class="table__place">
          {{ event_time.event.venue_name }}
        </div>
      </a>
    </div>
  {% endfor %}

  </div>

  <p style="text-align: center; margin-top: 20px;">
    <a href="{% url "calendar:event_list" sphere_id=SPHERE.pk %}">{% trans "Browse more events..." %}</a>
  </p>

</div>


<div class="overlay" id="js-overlay"></div>

{% endblock %}
