{% extends "base.html" %}
{% load calendar_tags sorl_thumbnail sekizai_tags static %}
{% load i18n %}
{% load l10n %}

{% block content_wrapper %}


{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'calendar/js/calendar.js' %}"></script>
{% endaddtoblock %}

{% get_event_times max_count=20 has_image=True as event_times %}

{% for event_time in event_times %}
<div class="card" data-hash="event-{{ event_time.event.pk }}" id="event-{{ event_time.event.pk }}">
  <div class="card__layout">
    <div class="card__media">
        {% with event_time.event.images.first as feature_image %}
            {% if feature_image.image %}
                {% thumbnail feature_image.image "400x250" crop="center" as event_thumbnail %}
                    <img src="{{ event_thumbnail.url }}" alt="{{ event_time.event.name }}">
                {% endthumbnail %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="card__text">
      <div class="card__header">
        <div class="card__date">
          {{ event_time.start|dukop_datetime }}
        </div>
        <div class="card__place card__link">
          <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}">{{ event_time.event.venue_name }}</a>
        </div>
        <div class="card__util card__link card__more">
          <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}">Download til kalender (ICS)</a>
        </div>
      </div>
      <div class="card__main">
        <h1 class="card__title">
          {{ event_time.event.name }}
        </h1>
        {{ event_time.event.short_description|truncatechars:100 }}
        <div class="card__more">
            {% if event_time.event.description %}
            {{ event_time.event.description|linebreaks }}
            {% else %}
            {{ event_time.event.short_description|linebreaks }}
            {% endif %}
            <p>
            <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}">
                {% trans "Event detail page" %}
            </a>
            </p>
        </div>
      </div>
    </div>
  </div>
  <a class="card__toggle js-toggle-card" href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}"></a>
</div>

{% endfor %}

{% get_event_times days=1 max_count=30 as todays_events %}

<div class="page-container">
  <h1 class="title title--space">{% trans "Also happening" %} <span class="title__bold">{% trans "today" %}</span></h1>
  <div class="timeline">

  {% for event_time in todays_events %}
    {% event_timeline_properties event_time as timeline %}
    <div class="timeline__event timeline__event--color{% cycle "1" "2" "3" %} timeline__event--right" data-text="{{ event_time.event.name }}"
      style="width: {{ timeline.width_pct|unlocalize }}%; margin-left: {{ timeline.x_start_pct|unlocalize }}%">
    </div>
  {% empty %}
    <div class="timeline__event timeline__event--right" data-text="{% trans "Nothing planned today, this is your chance to do something! Gather your people!" %}">
    </div>
  {% endfor %}

  {% comment %}

    <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Yoga med Natalie"
      style="width: 17.812499999999996%; margin-left: 13.437500000000002%">
    </div>
    <div class="timeline__event timeline__event--color1 " data-text="Biograf i Folkets Hus kl 16.00"
      style="width: 18.75%; margin-left: 50.0%">
      Biograf i Folkets Hus ...
    </div>
    <div class="timeline__event timeline__event--color1 " data-text="Bogcaféen Barrikaden + Distro 61"
      style="width: 18.75%; margin-left: 50.0%">
      Bogcaféen Barrikaden +...
    </div>
    <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Yin Flow Yoga"
      style="width: 8.125000000000004%; margin-left: 56.25%">
    </div>
    <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Taekwondo"
      style="width: 7.187499999999991%; margin-left: 64.375%">
    </div>
    <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Mandagsmøde"
      style="width: 12.5%; margin-left: 68.75%">
    </div>
    <div class="timeline__event timeline__event--color1  timeline__event--left" data-text="Tai chi og Qi Gong med Bo "
      style="width: 12.5%; margin-left: 75.0%">
    </div>
    <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Tai Chi med Viggo "
      style="width: 9.062499999999996%; margin-left: 12.5%">
    </div>
    <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Pop-up legestue for børn"
      style="width: 12.5%; margin-left: 43.75%">
    </div>
    <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Vinjasa yoga med Pernille "
      style="width: 6.25%; margin-left: 59.06249999999999%">
    </div>
    <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Yoga and Dance"
      style="width: 18.75%; margin-left: 68.75%">
    </div>
    <div class="timeline__event timeline__event--color2  timeline__event--left"
      data-text="Feministisk lige uger / LGBT selvforsvar ulige uger"
      style="width: 8.125000000000004%; margin-left: 68.75%">
    </div>
    <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Free style drum jam med dans"
      style="width: 4.374999999999996%; margin-left: 89.375%">
    </div>
    <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Yoga med Fanny"
      style="width: 10.625000000000002%; margin-left: -4.375000000000001%">
    </div>
    <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Tai chi og Qi Gong med Bo"
      style="width: 12.5%; margin-left: 6.25%">
    </div>
    <div class="timeline__event timeline__event--color1  timeline__event--left" data-text="Yin yoga med Laura"
      style="width: 7.187499999999991%; margin-left: 56.25%">
    </div>
    <div class="timeline__event timeline__event--color1 " data-text="BumZen Community Kitchen"
      style="width: 25.0%; margin-left: 62.5%">
      BumZen Community Kitchen
    </div>
    <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="AFROFONKO"
      style="width: 12.5%; margin-left: 64.375%">
    </div>
    <div class="timeline__event timeline__event--color2 " data-text="Små stjerner (forældrebørnehave)"
      style="width: 37.5%; margin-left: 12.5%">
      Små stjerner (forældre...
    </div>
    <div class="timeline__event timeline__event--color2  timeline__event--left" data-text="Yoga med Ida"
      style="width: 10.624999999999996%; margin-left: 51.87500000000001%">
    </div>
    <div class="timeline__event timeline__event--color1 " data-text="Bogcaféen Barrikaden + Distro 61"
      style="width: 25.0%; margin-left: 56.25%">
      Bogcaféen Barrikaden +...
    </div>
    <div class="timeline__event timeline__event--color3  timeline__event--left" data-text="Folkekøkken"
      style="width: 12.5%; margin-left: 68.75%">
    </div>
    <div class="timeline__event timeline__event--color1  timeline__event--left" data-text="Slow-Jam folkedans musik"
      style="width: 12.5%; margin-left: 75.0%">
    </div>
    <div class="timeline__event timeline__event--color3 timeline__event--right" data-text="Tai Chi og Qi Gong med Bo"
      style="width: 10.624999999999996%; margin-left: 1.8750000000000044%">
    </div>

    {% endcomment %}

    <div class="timeline__scale">
      <div class="timeline__min">
        08:00
      </div>
      <div class="timeline__max">
        24:00
      </div>
      <div class="timeline__now" id="timeline__now"></div>
    </div>

  </div>

</div>


{% get_event_times days=31 as event_times %}

<div class="page-container">
  <div class="table">

  {% for event_time in event_times %}

    <div class="table__day">
      {% ifchanged event_time.start.date %}
      <div class="table__header">
        {{ event_time.start.date|dukop_date }}
      </div>
      {% endifchanged %}

      <a href="{% url "calendar:event_detail" pk=event_time.event.pk slug=event_time.event.slug %}" class="table__event">
        <div class="table__time">
          {{ event_time.start|time:"H:i" }}
        </div>
        <div class="table__title">
          {{ event_time.event.name }}
        </div>
        <div class="table__place">
          {{ event_time.event.venue_name }}
        </div>
      </a>
    </div>
  {% endfor %}


  </div>
</div>
<div class="overlay" id="js-overlay"></div>

{% endblock %}
