{% extends "base.html" %}
{% load i18n %}
{% load dukop_utils %}

{% block dukop_title %}{% trans "Log in" %}{% endblock %}

{% block content %}

<h1>{% trans "Returning user login" context "meant about an existing user, a user that already has an account" %}</h1>

<p>{% trans "If you already registered an email (below), enter it here and we will send you a 1-time pass via email." %}</p>

<form method="post" action="{% url 'users:login' %}">
{% csrf_token %}

{% dukop_form form %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <input type="submit" value="{% trans "Send a 1-time login" %}">
    </div>
</div>


<input type="hidden" name="next" value="{{ next }}">
</form>

<h1>{% trans "New user registration" %}</h1>

<p>{% trans "You need to register in order to login. You need access to the provided email address to verify and use 1-time logins afterwards." %}

<form method="post" action="{% url 'users:signup' %}?next={{ next }}">
{% dukop_form signup_form %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <input type="submit" value="{% trans "Sign up" %}">
    </div>
</div>
<input type="hidden" name="next" value="{{ next }}">

</form>


<h1>{% trans "Log in with password" %}</h1>

<p>{% trans "You can log in with a password if you have defined one. Otherwise, use the 1-time login above." %}</p>

<form method="post" action="{% url 'users:login_password' %}">
{% dukop_form password_form %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <input type="submit" value="{% trans "Log in" %}">
    </div>
</div>
<input type="hidden" name="next" value="{{ next }}">

</form>

{% endblock %}
