{% extends "base.html" %}
{% load i18n %}
{% load dukop_utils %}

{% block dukop_title %}{% trans "Log in" %}{% endblock %}

{% block content %}

<h1>{% trans "Log in" %}</h1>

<p>{% trans "You will only have a password if you choose to have one after signing up. Don't have an account yet?" %} <a href="{% url "users:signup" %}?next={{ next }}">{% trans "Sign up here" %} &gt;</a></p>

<form method="post" action="{% url 'users:login' %}">
{% csrf_token %}

{% dukop_form form %}

<input type="submit" value="{% trans "Send a 1-time login" %}">
<input type="hidden" name="next" value="{{ next }}">
</form>


<h2>{% trans "Log in with password" %}</h2>

<form method="post" action="{% url 'users:login_password' %}">
{% dukop_form password_form %}

<input type="submit" value="{% trans "Log in" %}">
<input type="hidden" name="next" value="{{ next }}">

</form>

{% endblock %}
